.container {
  height: 100vh; /* Để căn giữa theo chiều dọc */
}

.title {
  margin-top: 5px;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react_element {
  color: #26ffcb;
  padding-left: 15px;
}

.reset {
  width: 250px;
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  font-size: 26px;
  color: #26ffcb;
  margin-top: 25px;
  margin-bottom: 50px;
}

.boxes img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cắt ảnh để lấp đầy div */
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 ảnh trên mỗi hàng */
  gap: 15px; /* Khoảng cách giữa ảnh */
  justify-content: center; /* Căn giữa */
  width: fit-content; /* Để vừa với số ảnh */
  margin: 0 auto; /* Căn giữa toàn bộ */
  padding: 20px; /* Thêm padding nếu cần */
}

.row {
  display: flex;
}
